/*********** GENERAL SETTINGS ************/

* {
    box-sizing: border-box;
}

#container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/*********** FONT FACE ****************/

@font-face {
    font-family: 'RobotoMedium';
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: 'RobotoRegular';
    src: url(../fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'RobotoLight';
    src: url(../fonts/Roboto-Light.ttf);
}

/*********** HEADER AND SLIDER ***********/

header img {
    width: 100%;
    background-size: contain;
}

/* Header */

header {
    position: relative;
}

header h2 {
    color: #fff;
    font-family: Roboto;
    position: absolute;
    top: 5px;
    left: 5px;
}

header span {
    color: orange;
    margin-left: 15px;
    padding-left: 3px;
    border: 3px solid #fff;
    border-right: none;
}

header ul {
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
}

header ul li {
    color: #fff;
    list-style-type: none;
    padding: 10px 15px;
    font-family: Roboto;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

/* Slider */

header h1 {
    font-family: RobotoLight;
    color: #fff;
    letter-spacing: 2px;
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
    font-size: 40px;
    text-align: center;
}

#slider-button {
    position: absolute;
    bottom: 33%;
    left: 45%;
    background-color: #1C70B1;
    padding: 10px 28px;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-family: RobotoLight;
    font-size: 14px;
    letter-spacing: 1px;
}

/****************** MAIN *****************/

/* First Section - H2 and Square*/

#section-h2 {
    font-family: RobotoLight;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin: 10% 40% 3% 40%;
    text-align: center;
    position: relative;
}

#square {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid;
    transform: rotateZ(45deg);
    z-index: 1;
    position: absolute;
    top: 86%;
    left: 47%;
}

/************ First section **************/

#first-section {
    display: flex;
}

#first-section h3 {
    font-family: RobotoLight;
    color: #4EA0DF;
    font-size: 18px;
    margin-top: 0;
}

#first-section p {
    font-family: RobotoMedium;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 30px;
}

/* First section - articles */

#first-article {
    width: 33%;
    margin-left: 60px;
    margin-right: 15px;
}

#second-article {
    width: 33%;
    margin-right: 15px;
    margin-left: 15px;
}

#second-article img {
    width: 100%;
}

#third-article {
    width: 33%;
    margin-right: 60px;
    margin-left: 15px;
}

#first-section ul {
    list-style-image: url('../img/arrow_bullet.png');
    padding-left: 20px;
    font-family: RobotoLight;
    font-size: 12px;
    line-height: 22px;
}

#first-section li {
    padding-top: 10px;
}

/*********************************/

/*********** Second Section ***********/

#second-section {
    display: flex;
    justify-content: space-between;
}

#second-section article {
    width: 30%;
    background-color: #82C3F5;
}

#second-section article div {
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
}

#second-section article h4 {
    margin-top: 30px;
    margin-left: 15px;
    font-family: Roboto;
}

#second-section img {
    border-radius: 50%;
    border: 3px solid #82C3F5;
    box-shadow: 0 0 0 2px #fff;
    width: 30%;
    float: left;
}

#second-section p {
    line-height: 25px;
    font-family: RobotoLight;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
}

/*********************************/
/*********** Third Section ***********/
#third-section {
    position: relative;
}

#third-section_article-wrapper {
    display: flex;
}

#third-section article {
    width: 25%;
}

.third-section_text-style {
    color: #fff;
    font-family: RobotoLight;
    text-align: center;
    padding: 60px 20px 0px 20px;
}

/* First article */
.third-section_first-article {
    background-color: #3BDD9A;
    height: auto;
}

/* Second article */
.third-section_second-article {
    background-color: #FD5282;
    height: auto;
}

.third-section_second-article i {
    margin: 5px 5px 0px 5px;
}

/* Third article */
.third-section_third-article {
    background-color: #376DE4;
    height: auto;
}

/* Forth article */
.third-section_forth-article {
    background-color: #82C3F5;
    height: auto;
    padding-left: 40px;
}

/* Map */
#third-section iframe {
    position: absolute;
    top: 80%;
    z-index: -1;
    padding-top: 52px;
}