/************* VARIABLES *****************/
@import "variables";

/************** GENERAL SETTINGS *****************/

.container-fluid {
  width: 100%;
}
* {
  box-sizing: border-box;
}

/************** SLIDER IMAGE AND NAVBAR ***********/
.slider {
  position: relative;
}

/* Navbar */
#cover-img {
  background-size: contain;
  width: 100%;
}

.nav-bar {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 5%;
  right: 25%;
  color: #ffffff;
}

.tanatos-logo {
  font-size: 24px;
}

.tanatos-logo > span {
  color: $orangeColor;
  font-weight: bold;
}

.hamburger-menu img {
  margin-left: 10px;
}
.hamburger-menu {
  font-size: 18px;
}

/* Slider text */
.slider-text {
  position: absolute;
  top: 30%;
  left: 23%;
  width: 50%;
  text-align: center;
  color: #ffffff;

  h1 {
    font-size: 70px;
    font-weight: bolder;

    span {
      color: $orangeColor;
    }
  }
  p {
    font-size: 24px;
  }

  /* Slider buttons */
  .slider-buttons {
    margin-top: 60px;
  }

  .slider-btn-one {
    padding: 10px 60px;
    border-radius: 12px;
    margin-right: 20px;
    border-color: rgb(150, 150, 150);
    color: #ffffff;

    &:hover {
      background-color: $orangeColor;
      border-color: $orangeColor;
    }
  }
  .slider-btn-two {
    padding: 10px 45px;
    border-radius: 12px;
    border-color: rgb(150, 150, 150);
    color: #ffffff;
    &:hover {
      background-color: $orangeColor;
      border-color: $orangeColor;
    }
  }
}

#arrow-down {
  margin-top: 25%;
}

/********* WHAT WE OFFER ************/
#what-we-offer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.center-images {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    font-size: 16px;
  }
}

.round-img {
  margin: 0;
  margin-bottom: 20px;
  height: 150px;
  width: 150px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
/******** NEWSLETTER **********/
.background-image {
  background-image: url(../img/newsletter-background.jpg);
}
.wrapper {
  text-align: center;
  form {
    margin: 100px auto;
  }
}
.enter-email {
  padding: 12px 400px 12px 10px;
  border-radius: 10px;
  border: none;
  margin-right: 25px;
}
.submit-email {
  background-color: $orangeColor;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  padding: 12px 100px;
  font-weight: bold;
}

/************ OUR WORKS *************/
.hover-text {
  display: none;
}

.our-work-h2 {
  margin: 80px auto;
  text-align: center;
  width: 25%;
  span {
    color: $orangeColor;
  }
}

.our-works {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  img {
    margin-bottom: 20px;
  }
}
